- grouped_feats = feats.group_by { |feat| feat.owner.public_name }
- grouped_feats = grouped_feats.map { |k, v| [k, v.map { |feat| [feat.name, feat.id] }] }
= form_for RoutineFeat.new, remote: true do |f|
  = f.hidden_field :routine_id, value: routine.id
  // = f.select :feat_id, options_from_collection_for_select(feats, :id, :name), include_blank: "Select #{feat_name.capitalize}"
  = f.select :feat_id, grouped_options_for_select(grouped_feats), include_blank: "Select #{feat_name.capitalize}"
  = f.submit "Add #{feat_name.capitalize}"
  