= form_for RoutineFeat.new, remote: true do |f|
  = f.hidden_field :routine_id, value: routine.id
  = f.select :feat_id, options_from_collection_for_select(feats, :id, :name), include_blank: "Select #{feat_name.capitalize}"
  = f.submit "Add #{feat_name.capitalize}"
  