.activity__top
  .activity__subject
    = link_to activity.owner.public_name, performer_feats_path(activity.owner)
    = 'began following'
    = link_to activity.recipient.creator.name, performer_feats_path(activity.recipient.creator)
    = "'s #{feat_name.pluralize(activities.count)}:"
    - truncated_sentence_array(activities.map(&:recipient).uniq).each do |item|
      = item.is_a?(String) ? item : link_to(item.name, item)
  .activity_timestamp.subtext
    %i.fa.fa-clock-o
    = time_ago_in_words(activity.created_at)
    = 'ago'
.activity__bottom
  - tags = activities.each_with_object([]) { |act, arr| act.recipient.tags.each { |tag| arr.push(tag) } }
  - if tags.present?
    %i.fa.fa-tags
    = tags.uniq.map { |tag| t("skill_names.#{tag.name}", default: tag.name) }.join(', ')
