= form_for @routine do |f|
  .routine-owner{class: "#{'hide' unless user_has_groups(current_user)}"}
    = f.label :owner
    = f.select :global_owner,
               options_from_collection_for_select(current_user.actors, :global_id, :name, @routine.owner&.global_id)

  = f.label :name
  = f.text_field :name

  = f.label :description
  = f.text_area :description

  = f.label 'Admin Users'
  = f.select :user_ids, options_from_collection_for_select(User.all, :id, :name, @routine.users.pluck(:id)), {include_blank: true}, {multiple: true, class: 'add-select2'}

  = f.label 'Admin Bands'
  = f.select :group_ids, options_from_collection_for_select(current_user.actors, :id, :name, @routine.groups.pluck(:id)), {include_blank: true}, {multiple: true, class: 'add-select2'}
  = f.submit 'Save Set List'
