.routine__name.item__show-name
  %h1
    = @routine.name
- if can? :edit, @routine
  .routine__edit-button.item__edit-link
    = link_to '(edit)', edit_routine_path(@routine)

.routine__owner.small-gray
  %p
    = "Created by #{@routine.owner.public_name} on #{@routine.created_at.strftime('%-m/%-d/%y')}"

.routine__description
  %p
    = @routine.description

- if can? :edit, @routine
  %h3
    = "Add #{feat_name}"

  = render partial: 'routine_feats/form', locals: { routine: @routine, feats: @feats }

%h3
  = feat_name.pluralize

%ul.routine_feats
  - @routine.routine_feats.each do |routine_feat|
    = render partial: 'routine_feats/show', locals: { routine_feat: routine_feat }

:javascript
  $(document).ready(function() {
    if (#{ can? :edit, @routine}) {
      $('.routine_feats').sortable({
        cursor: 'move',
        update: function(e, ui) {
          var movedId = ui.item.attr('id').slice(14);
          var prevId = ui.item.prev().attr('id') && ui.item.prev().attr('id').slice(14);
          var nextId = ui.item.next().attr('id') && ui.item.next().attr('id').slice(14);
          var url = "/routine_feats/" + movedId;
          $.ajax({
            method: 'PUT',
            url: url,
            data: {
              moved: movedId,
              prev: prevId,
              next: nextId
            }
          });
        }
      });
    }
  });