.activity__subject
  = link_to activity.owner.public_name, activity.owner
  = 'is now following'
  = link_to activity.recipient.public_name, activity.recipient
.activity_timestamp.subtext
  %i.fa.fa-clock-o
  = time_ago_in_words(activity.created_at)
  = 'ago'