.activity__subject
  = link_to activity.owner.name, activity.owner
  = 'added a new song:'
  = link_to activity.trackable.name, activity.trackable
.activity__timestamp
  %i.fa.fa-clock-o
  = time_ago_in_words(activity.created_at)
  = 'ago'