.activity__subject
  = link_to activity.owner.name, activity.owner
  = activities.length > 1 ? 'added new songs:' : 'added a new song:'
  - truncated_sentence_array(activities.map(&:trackable)).each do |item|
    = item.is_a?(String) ? item : link_to(item.name, item)
  = '.'
.activity_timestamp.subtext
  %i.fa.fa-clock-o
  = time_ago_in_words(activity.created_at)
  = 'ago'