- feats.each do |feat|
  - feat_roles = feat_roles_for(feat, @actors)
  .feat__wrapper{id: "feat_#{feat.id}"}
    = link_to feat.name, feat_path(feat)
    .subtext.inl-block
      - if sort_by['order_by_last_played']
        - last_play = feat_roles.present? ? feat_roles.map(&:last_played_at).compact.max : feat.last_played_at
        - if last_play
          = '  -  '
          = time_ago_in_words(last_play)
          = ' ago'
      - elsif sort_by['order_by_plays_count']
        - plays_count = feat_roles.present? ? feat_roles.map(&:plays_count).sum : feat.plays_count
        - if plays_count > 0
          = '  -  '
          = plays_count
          = 'time'.pluralize(plays_count)
      - elsif sort_by['order_by_created_at']
        = '  -  '
        = feat.created_at.strftime("%-m/%-d/%y")

