%h1.inl-block
  = "#{@performer.public_name}'s #{@performer.feat_name.capitalize.pluralize}"
.advanced-filters-btn.inl-block.right
  = link_to '#' do
    %i.fa.fa-filter
    Filters
= text_field_tag 'feat_search', nil, placeholder: 'Search by name', autofocus: true
= select_tag 'tag_search', options_for_select(current_performer.feat_tags.order(:name)), class: 'tag_search-input', include_blank: true, multiple: true
.advanced-filters.hide
  = form_tag( { controller: :feats, action: :index }, { method: 'get', remote: true, id: 'feats-sort' } ) do
    .sort_by-select
      = select_tag 'sort_by', options_for_select(FeatRole.scopes.each_with_object({}) { |scope, hsh| hsh[t("feat_roles.scopes.#{scope.to_s}")] = scope.to_s })
    = submit_tag 'submit', id: 'sort-submit-btn', :style => "display: none;"

.feats__list
  = render partial: 'feat_roles/list', locals: { feat_roles: @feat_roles, sort_by: {} }

:javascript
  var feats = #{@feat_roles.map { |feat_role| [feat_role.feat.id, feat_role.feat.name.downcase, feat_role.feat.tags.map(&:name)] } };

  $(document).ready(function() { 
    $('#feat_search').keyup(function() {
      var searchInput = $(this).val().toLowerCase();
      if (searchInput != '') {
        result = feats.filter(function(i) {
          return i[1].includes(searchInput);
        });
        $('.feat__wrapper').hide();
        result.forEach(function(arr) {
          $('#feat_' + arr[0]).show();
        });
      } else { 
        $('.feat__wrapper').show();
      }
    });

    $('#tag_search').change(function() {
      var tagSearch = $(this).val();

      if (tagSearch != null) {
        if (tagSearch[0] == '') {
          tagSearch = tagSearch.splice(1);
        };

        result = feats.filter(function(i) {
          return tagSearch.every(function(tag) {
            return i[2].includes(tag);
          });
        });
          $('.feat__wrapper').hide();
        result.forEach(function(arr) {
          $('#feat_' + arr[0]).show();
        });
      } else {
        $('.feat__wrapper').show();
      };
    });

    $('.advanced-filters-btn').click(function() {
      $('.advanced-filters').toggle();
    });

    $('#feats-sort').change(function() {
      $('#sort-submit-btn').trigger('click');
    });
  });

