.group-form__wrapper
  = form_for @group, html: { class: 'disable-on-submit' } do |f|
    = f.label 'Group Picture'
    - unless @group.avatar_file_size.nil?
      = link_to image_tag(@group.avatar.url(:medium)), @group.avatar.url
    = f.file_field :avatar

    = f.label :name
    = f.text_field :name

    = f.label :description
    = f.text_area :description

    = f.label 'Group Admins'
    = f.select :admin_performer_ids,
               options_from_collection_for_select(@followed.push(current_performer), :id, :name_and_username, @group.admin_performers.pluck(:id).push(current_performer.id)),
               {include_blank: true}, {multiple: true, required: true, class: 'add-select2'}

    = f.label 'Visible To:'
    - default_visibility = @group.persisted? ? @group.visibility : current_performer.visibility
    = f.select :visibility, options_for_select(enum_select_options(Group, 'visibilities'), default_visibility)

    %br

    = f.submit 'Save', class: 'save-group-btn'

:javascript
  $(document).ready(function() {
    var currentPerformerId = "#{current_performer.id}";

    $('.save-group-btn').click(function(e) {
      if (!$('#group_admin_performer_ids').val().includes(currentPerformerId)) {
        if (!confirm("Are you sure you want to remove yourself as an admin of the group? You won't have permission to re-add yourself.")) {
          e.preventDefault();
        }
      }
    })
  })
