.group__name.item__show-name
  %h1
    = @group.name
- if @current_user_group_role.admin?
  .group__edit-button
    = link_to '(edit)', edit_group_path(@group)
.group__created_at.small-gray
  %p
    = "Created on #{@group.created_at.strftime('%-m/%-d/%y')}"
.group__description
  %p
    = @group.description

- if @songs.present?
  .group__songs
    %h3
      Songs

  .songs__list
    = render partial: 'songs/list', locals: { songs: @songs }

- if @routines.present?
  .group__routines
    %h3
      Set Lists

  .routines__list
    - @routines.each do |routine|
      .routine
        = link_to routine.name, routine