.group__name.item__show-name
  %h1
    = @group.name
- if @current_performer_group_role.admin?
  .group__edit-button
    = link_to '(edit)', edit_group_path(@group)
.group__created_at.small-gray
  %p
    = "Created on #{@group.created_at.strftime('%-m/%-d/%y')}"
.group__description
  %p
    = @group.description

- if @feats.present?
  .group__feats
    %h3
      Feats

  .feats__list
    = render partial: 'feats/list', locals: { feats: @feats }

- if @routines.present?
  .group__routines
    %h3
      Set Lists

  .routines__list
    - @routines.each do |routine|
      .routine
        = link_to routine.name, routine