= form_for @user do |f|
  = f.label 'Profile Picture'
  = link_to image_tag(@user.avatar.url(:medium)), @user.avatar.url
  = f.file_field :avatar

  = f.label :first_name
  = f.text_field :first_name

  = f.label :last_name
  = f.text_field :last_name

  = f.label :email
  = f.email_field :email

  = f.fields_for :email_settings do |ff|
    = ff.label 'Receive Email Notifications?'
    = ff.radio_button :subscribed, false, checked: !@user.subscribed?
    = ff.label 'No', class: 'inl-block'
    = ff.radio_button :subscribed, true, checked: @user.subscribed?, :style=>'margin-left:20px;'
    = ff.label 'Yes', class: 'inl-block'

  .user__save-btn
    = f.submit
