.header
  .header__title.header__title--full
    = link_to '/' do
      %h1
        GUITOIRE
  .header__title.header__title--min
    = link_to '/' do
      %h1
        G
  - if current_user
    .header__menu
      // = link_to '#', id: 'notifications-dropdown-link' do
      //   %i.fa.fa-fw.fa-bell
      = link_to '#', id: 'add-dropdown-link' do
        %i.fa.fa-fw.fa-plus.add-dropdown-link
      = link_to '#', id: 'search-dropdown-link' do
        %i.fa.fa-fw.fa-search.search-dropdown-link
      = link_to message_threads_path do
        %i.fa.fa-envelope
      = link_to '#', id: 'user-dropdown-link' do
        %i.fa.fa-fw.fa-user.user-dropdown-link
    .header-dropdown.header__notifications-dropdown.hide
    .header-dropdown.header__add-dropdown.hide
      .header__dropdown-item
        = link_to 'Add Song', new_user_song_path(current_user)
        .med-horizontal-border
      .header__dropdown-item
        = link_to 'Add Set List', new_routine_path
        .med-horizontal-border
      .header__dropdown-item
        = link_to 'Add Band', new_group_path
    .header-dropdown.header__search-dropdown.hide
      .header-dropdown-item
        = link_to 'Songs', user_songs_path(current_user)
        .med-horizontal-border
      .header__dropdown-item
        = link_to 'Set Lists', routines_path(current_user)
        .med-horizontal-border
      .header__dropdown-item
        = link_to 'Bands', user_groups_path(current_user)
    .header-dropdown.header__user-dropdown.hide
      - if current_user
        .header__dropdown-item
          = link_to 'Edit Profile', edit_user_path(current_user)
          .med-horizontal-border
        .header__dropdown-item.log-in-link
          = link_to 'Log Out', destroy_user_session_path, method: :delete
      // - else
      //   .header__dropdown-item.log-in-link
      //     = link_to 'Log In', new_user_session_path

:javascript
  $(document).ready(function() {
    $('#user-dropdown-link').click(function() {
      $('.header__user-dropdown').toggle();
    });

    $('#add-dropdown-link').click(function() {
      $('.header__add-dropdown').toggle();
    });

    $('#search-dropdown-link').click(function() {
      $('.header__search-dropdown').toggle();
    });

    $(window).click(function(e) {
      var className = e.target.classList[3];
      if (className != 'user-dropdown-link') {
        $('.header__user-dropdown').hide();
      };
      if (className != 'search-dropdown-link') {
        $('.header__search-dropdown').hide();
      };
      if (className != 'add-dropdown-link') {
        $('.header__add-dropdown').hide();
      };
    });

    $('.log-in-link').click(function() {
      location.reload();
    });
  });