.header
  .header__title.header__title--full
    = link_to '' do
      %h1
        GUITOIRE
  .header__title.header__title--min
    = link_to '' do
      %h1
        G
  .header__menu
    - if current_user
      = link_to '/' do
        %i.fa.fa-fw.fa-home
      = link_to new_user_song_path(current_user) do
        %i.fa.fa-fw.fa-plus
      = link_to user_songs_path(current_user) do
        %i.fa.fa-fw.fa-search
      = link_to message_threads_path do
        %i.fa.fa-envelope
      = link_to '#', id: 'user-dropdown-link' do
        %i.fa.fa-fw.fa-user.user-dropdown-link
  .header__user-dropdown.hide
    - if current_user
      .header__dropdown-item
        = link_to 'Edit Profile', edit_user_path(current_user)
        .med-horizontal-border
      .header__dropdown-item.log-in-link
        = link_to 'Log Out', destroy_user_session_path, method: :delete
    - else
      .header__dropdown-item.log-in-link
        = link_to 'Log In', new_user_session_path

:javascript
  $(document).ready(function() {
    $('#user-dropdown-link').click(function() {
      $('.header__user-dropdown').toggle();
    });

    $(window).click(function(e) {
      if (e.target.classList[3] != 'user-dropdown-link') {
        $('.header__user-dropdown').hide();
      };
    });

    $('.log-in-link').click(function() {
      location.reload();
    });
  });