.left-sidebar
  - if current_performer
    - if current_user.performers.count > 1
      %h3
        = link_to '#', class: 'change-performer-btn' do
          = current_performer.name
          %i.fa.fa-caret-down
      .change-performer-dropdown.hide
        .header__dropdown-item.subtext
          Change Workspace
        .med-horizontal-border
        - current_user.performers.each do |performer|
          .header__dropdown-item
            - if performer == current_performer
              = button_tag disabled: true, class: 'btn-small' do
                %i.fa.fa-check
                = performer.name
            - else
              = button_to performer.name,
                          user_current_performers_path(current_user, performer_id: performer.id),
                          class: 'btn-small'

    .left-sidebar__main-links
      .left-sidebar__link
        = link_to '/' do
          %i.fa.fa-fw.fa-home
          Home
      .left-sidebar__link
        = link_to performers_path do
          %i.fa.fa-fw.fa-users
          Following
      .left-sidebar__link
        = link_to message_threads_path do
          %i.fa.fa-fw.fa-envelope
          Messages
          - if current_performer.message_copies.unseen.present?
            .message_copies-unseen-count
              = current_performer.message_copies.unseen.count
      .left-sidebar__link
        = link_to new_performer_feat_path(current_performer) do
          %i.fa.fa-fw.fa-plus
          Add
          = current_performer.feat_name.capitalize
      .left-sidebar__link
        = link_to feats_path(actor_ids: [current_performer.global_id]) do
          %i.fa.fa-fw.fa-search
          = current_performer.feat_name.capitalize.pluralize
      .left-sidebar__link
        = link_to performer_routines_path(current_performer) do
          %i.fa.fa-fw.fa-search
          = current_performer.routine_name.capitalize.pluralize
      .left-sidebar__link
        = link_to performer_groups_path(current_performer) do
          %i.fa.fa-fw.fa-search
          Groups

:javascript
  $(document).ready(function() {
    $('.change-performer-btn').click(function() {
      $('.change-performer-dropdown').toggle();
    });
  });