.left-sidebar
  - if current_user
    .left-sidebar__main-links
      .left-sidebar__link
        = link_to '/' do
          %i.fa.fa-fw.fa-home
          Home
      .left-sidebar__link
        = link_to users_path do
          %i.fa.fa-fw.fa-users
          Users
      .left-sidebar__link
        = link_to message_threads_path do
          %i.fa.fa-fw.fa-envelope
          Messages
          - if current_user.message_copies.unseen.present?
            .message_copies-unseen-count
              = current_user.message_copies.unseen.count
      .left-sidebar__link
        = link_to user_songs_path(current_user) do
          %i.fa.fa-fw.fa-search
          Songs
      .left-sidebar__link
        = link_to new_user_song_path(current_user) do
          %i.fa.fa-fw.fa-plus
          Add Song
      .left-sidebar__link
        = link_to new_routine_path do
          %i.fa.fa-fw.fa-plus
          Add Set List
