.left-sidebar
  - if current_user
    .left-sidebar__main-links
      .left-sidebar__link
        = link_to '/' do
          %i.fa.fa-fw.fa-home
          Home
      .left-sidebar__link
        = link_to performers_path do
          %i.fa.fa-fw.fa-users
          Users
      .left-sidebar__link
        = link_to message_threads_path do
          %i.fa.fa-fw.fa-envelope
          Messages
          - if current_user.message_copies.unseen.present?
            .message_copies-unseen-count
              = current_user.message_copies.unseen.count
      .left-sidebar__link
        = link_to new_performer_song_path(current_performer) do
          %i.fa.fa-fw.fa-plus
          Add Song
      .left-sidebar__link
        = link_to performer_songs_path(current_performer) do
          %i.fa.fa-fw.fa-search
          Songs
      .left-sidebar__link
        = link_to performer_routines_path(current_performer) do
          %i.fa.fa-fw.fa-search
          Set Lists
      .left-sidebar__link
        = link_to performer_groups_path(current_performer) do
          %i.fa.fa-fw.fa-search
          Bands
