- @song_roles.each do |song_role|
  .song__wrapper{id: "song_#{song_role.song.id}"}
    = link_to song_role.song.name, song_path(song_role.song)
    .subtext.inl-block
      - if sort_by['order_by_last_played']
        - last_play = song_role.plays.first
        - if last_play
          = '  -  '
          = time_ago_in_words(last_play.created_at)
          = ' ago'
      - elsif sort_by['order_by_plays_count']
        - if song_role.plays_count > 0
          = '  -  '
          = song_role.plays_count
          = 'time'.pluralize(song_role.plays_count)
      - elsif sort_by['order_by_created_at']
        = '  -  '
        = song_role.created_at.strftime("%-m/%-d/%y")

