%h1.inl-block
  = "#{@user.name}'s Songs"
.advanced-filters-btn.inl-block.right
  = link_to '#' do
    %i.fa.fa-caret-down
    Filters
= text_field_tag 'song_search', nil, placeholder: 'Search by song name', autofocus: true
= select_tag 'tag_search', options_for_select(current_user.song_tags.order(:name)), class: 'tag_search-input', include_blank: true, multiple: true
.advanced-filters.hide
  = form_tag( { controller: :songs, action: :index }, { method: 'get', remote: true, id: 'songs-sort' } ) do
    .sort_by-select
      = select_tag 'sort_by', options_for_select(SongRole.scopes.each_with_object({}) { |scope, hsh| hsh[t("song_roles.scopes.#{scope.to_s}")] = scope.to_s })
    = submit_tag 'submit', id: 'sort-submit-btn', :style => "display: none;"

.songs__list
  = render partial: 'list', locals: { song_roles: @song_roles, sort_by: {} }

:javascript
  var songs = #{@song_roles.map { |song_role| [song_role.song.id, song_role.song.name.downcase, song_role.song.tags.map(&:name)] } };

  $(document).ready(function() { 
    $('#song_search').keyup(function() {
      var searchInput = $(this).val().toLowerCase();
      if (searchInput != '') {
        result = songs.filter(function(i) {
          return i[1].includes(searchInput);
        });
        $('.song__wrapper').hide();
        result.forEach(function(arr) {
          $('#song_' + arr[0]).show();
        });
      } else { 
        $('.song__wrapper').show();
      }
    });

    $('#tag_search').change(function() {
      var tagSearch = $(this).val();

      if (tagSearch != null) {
        if (tagSearch[0] == '') {
          tagSearch = tagSearch.splice(1);
        };

        result = songs.filter(function(i) {
          return tagSearch.every(function(tag) {
            return i[2].includes(tag);
          });
        });
          $('.song__wrapper').hide();
        result.forEach(function(arr) {
          $('#song_' + arr[0]).show();
        });
      } else {
        $('.song__wrapper').show();
      };
    });

    $('.advanced-filters-btn').click(function() {
      $('.advanced-filters').toggle();
    });

    $('#songs-sort').change(function() {
      $('#sort-submit-btn').trigger('click');
    });
  });

