%h1
  Add New Song
= form_for [@user, @song] do |f|
  = f.label :name
  = f.text_field :name

  = f.label :description
  = f.text_field :description

  = f.label 'Key'
  = f.select :music_key, options_for_select(Song::MUSICKEYS)

  = f.label :tempo
  = f.select :tempo, options_for_select((55..155).step(5).to_a)

  = f.submit