.jumbotron
  .song__title
    %h1
      = @song.name
  .song__description
    %h2
      Description:
    %p
      = @song.description || 'None'
  .song__key
    %h2
      = "Key: #{@song.music_key || 'none'}"
  .song__tempo
    %h2
      = "Tempo: #{@song.tempo || 'none'}"

