.song__name
  %h1
    = @song.name
.song__edit-button
  = link_to '(edit)', edit_user_song_path(@song)
.song__description
  %h2
    Description:
  %p
    = @song.description || 'None'
.song__key
  %h2
    = "Key: #{@song.music_key || 'none'}"
.song__scale
  %h2
    = "Scale: #{@song.scale || 'none'}"
.song__tempo
  %h2
    = "Tempo: #{@song.tempo || 'none'}"
.song_composers
  %h2.inl-block
    Composers:
  = @song.composer_list
.song__versions
  %h2.inl-block
    Performers / Versions:
  = @song.version_list
.song__genres
  %h2.inl-block
    Genres:
  = @song.genre_list
.song__generics
  %h2.inl-block
    Miscellaneous Tags:
  = @song.generic_list
.song__resources-wrapper
  %h2
    Attachments:
  - @song.song_resources.each do |song_resource|
    - resource = song_resource.resource
    .song__resource
      - download_target = resource.resourceable.displayable_in_browser? ? '_blank' : '_top'
      = link_to resource.resourceable.main_link, target: download_target do
        %i{class: "fa #{resource.resourceable.icon}"}
        = resource.resourceable.main_link_name
      .song__resource-delete-link
        = link_to song_resource_path(song_resource), method: :delete, data: { confirm: "Are you sure you want to delete this #{resource.resourceable.is_a?(FileResource) ? 'file' : 'link'}?" } do
          = '(delete)'

= button_tag 'Attach File', class: 'add-resource-btn btn'
= button_tag 'Add Link', class: 'add-link-btn btn'

= form_for FileResource.new do |f|
  = f.label 'Upload File'
  = f.file_field :main, multiple: true, name: 'file_resource[main]'
  = hidden_field_tag :song_id, @song.id
  = f.submit 'Upload', class: 'file_resource-upload-btn hide'

= form_for UrlResource.new do |f|
  = f.label 'Add Link'
  = f.text_field :url
  = hidden_field_tag :song_id, @song.id
  = f.submit 'Save', class: 'url_resource-submit-btn'

:javascript
  $(document).ready(function() {
    $('#new_file_resource').hide();
    $('.add-resource-btn').click(function() {
      $('#new_url_resource').hide();
      $('#new_file_resource').toggle();
    });

    $('#new_url_resource').hide();
    $('.add-link-btn').click(function() {
      $('#new_file_resource').hide();
      $('#new_url_resource').toggle();
    });
    $('input:file').change(function (){
      $('.file_resource-upload-btn').show();
    });
  });
