.song__title
  %h1
    = @song.name
.song__description
  %h2
    Description:
  %p
    = @song.description || 'None'
.song__key
  %h2
    = "Key: #{@song.music_key || 'none'}"
.song__scale
  %h2
    = "Scale: #{@song.scale || 'none'}"
.song__tempo
  %h2
    = "Tempo: #{@song.tempo || 'none'}"

= form_for FileResource.new do |f|
  = f.label 'Upload File'
  = f.file_field :main, multiple: true, name: 'file_resource[main]'
  = hidden_field_tag :song_id, @song.id
  = f.submit 'Upload', class: 'file_resource-upload-btn'

.song__resources-wrapper
  - @song.resources.each do |resource|
    .song__resource
      - download_target = resource.resourceable.displayable_in_browser? ? '_blank' : '_top'
      = link_to resource.resourceable.main.url(:original), target: download_target do
        %i{class: "fa #{file_icon_class(resource.resourceable.main_content_type)}"}
        = resource.resourceable.main_file_name
