- belongs_to_current_performer = current_user.performers.include? performer
.performer__top-section
  .performer__left-section
    .performer__name
      - if belongs_to_current_performer
        = link_to performer.name, performer_path(performer)
      - else
        = link_to performer.public_name, performer_path(performer)
    .performer__username{ style: "font-size: 12px" }
      = link_to "@#{performer.username}", performer_path(performer)
    .performer__links{ style: "font-size: 14px"}
      = link_to performer.feat_name.pluralize.capitalize, actor_feats_link(performer)
      %i.small-circle.fa.fa-circle{ style: "font-size:6px" }
      = link_to performer.routine_name.pluralize.capitalize, performer_routines_path(performer)
  .performer__right-section
    - if current_user.performers.include? performer
      = link_to '(edit)', edit_performer_path(performer)
.performer__bottom-section.subtext
  - tags = performer.base_tags.uniq
  - if tags.present?
    %i.fa.fa-tags
    - tags.each_with_index do |tag, index|
      = link_to t("skill_names.#{tag.name}", default: tag.name), feats_path(filters: { tags: [tag.name] })
      = ', ' unless index == tags.count - 1
