- if @performer.user == current_user
  - if current_performer != @performer
    = button_to 'Switch to this workspace',
                user_current_performers_path(current_user, performer_id: @performer.id),
                class: 'btn-small', form_class: 'inl-block right'
- else
  .follow__form-wrapper
    = render partial: 'follows/form', locals: { follow: @follow }

.performer__avatar
  = link_to image_tag(@performer.avatar.url(:medium)), @performer.avatar.url
.performer__name.item__show-name
  %h1
    = @performer.public_name
- if can? :edit, @performer
  .performer__edit-button.item__edit-link
    = link_to '(edit)', edit_performer_path(@performer)

.performer__tags
  - @performer.skills.each do |tag|
    .performer__tag
      = link_to t("skill_names.#{tag.name}", default: tag.name), feats_path(filters: { tags: [tag.name] })

- if @feats.present?
  %h3
    = @performer.feat_name.pluralize
  .performer__feats
    .feats__list
      = render partial: 'feats/list', locals: { feats: @feats.first(10), sort_by: {} }
  - if @feats.count > 10
    = link_to "...see all #{@performer.feat_name.pluralize.downcase}", actor_feats_link(@performer)
- if @routines.present?
  %h3
    = @performer.routine_name.pluralize
  .performer__routines
    - @routines.first(5).each do |routine|
      .routine
        = link_to routine.name, routine
  - if @routines.count > 5
    = link_to "(See all #{@performer.routine_name.pluralize.downcase})", performer_routines_path(@performer)
