- if @performer.user == current_user
  - if current_performer != @performer
    = button_to 'Switch to this workspace',
                user_current_performers_path(current_user, performer_id: @performer.id),
                class: 'btn-small', form_class: 'inl-block right'
- else
  .friendship__form-wrapper
    = render partial: 'friendships/form', locals: { friendship: @friendship }

.performer__avatar
  = link_to image_tag(@performer.avatar.url(:medium)), @performer.avatar.url
.performer__name.item__show-name
  %h1
    = @performer.public_name
- if can? :edit, @performer
  .performer__edit-button.item__edit-link
    = link_to '(edit)', edit_performer_path(@performer)

.performer__tags
  - @performer.skills.each do |tag|
    .performer__tag
      = t("skill_names.#{tag.name}", default: tag.name)
